In [1]:
import pandas as pd

# 專利申請 & 已授予專利的引用資料集

In [145]:
application = pd.read_csv(r'g_application.tsv', sep='\t', low_memory=False, encoding='utf-8') #low_memory=False
application

,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
0,05497504,3963197,05,1074-08-14,05,0.0
1,05508062,3933359,05,1074-09-23,05,0.0
2,05518254,3941467,05,1074-10-29,05,0.0
3,05518570,3936670,05,1074-10-29,05,0.0
4,05555245,4003574,05,1075-03-04,05,0.0
...,...,...,...,...,...,...
9073157,05786216,4135654,05,9177-04-11,05,0.0
9073158,05967990,4255928,05,9178-12-11,05,0.0
9073159,06474610,4474874,06,9183-03-11,06,0.0
9073160,06848010,4732727,06,9186-04-03,06,0.0
9073161,05629532,4078170,05,0975-11-06,05,0.0

In [146]:
application['filing_date'] = pd.to_datetime(application['filing_date'], errors='coerce')

C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\4141952153.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  application['filing_date'] = pd.to_datetime(application['filing_date'], errors='coerce')

In [147]:
# 去除幾筆申請日期異常的資料
application = application[application['filing_date'].notna()]
application

,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
15,06368909,4381219,06,1682-04-16,06,0.0
16,06066703,4261723,06,1868-08-15,06,0.0
17,06412224,4513204,06,1872-08-27,06,0.0
18,06557282,4544017,06,1873-11-18,06,0.0
19,05798245,4134235,05,1877-05-18,05,0.0
...,...,...,...,...,...,...
9073137,35521024,D1047774,35,2024-05-06,D,0.0
9073138,35521040,D1048947,35,2024-04-19,D,0.0
9073139,35521130,D1053438,35,2024-04-12,D,0.0
9073140,35521151,D1046279,35,2024-04-12,D,0.0
9073141,35521283,D1047090,35,2024-05-11,D,0.0

In [148]:
# 資料筆數
with open(r'g_us_patent_citation.tsv', "r", encoding="utf-8") as f:
    line_count = sum(1 for _ in f)

print(f"Total number of rows: {line_count}")

Total number of rows: 145878466

In [156]:
patents = pd.read_csv(r'g_us_patent_citation.tsv', sep='\t', nrows=2000000, encoding='utf-8') #low_memory=False
patents

,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category
0,10000000,0,5093563,1992-03-01,Small,A,cited by examiner
1,10000000,1,5751830,1998-05-01,Hutchinson,A,cited by applicant
2,10000001,0,7804268,2010-09-01,Park,B2,cited by examiner
3,10000001,1,9022767,2015-05-01,Oono,B2,cited by examiner
4,10000001,2,9090016,2015-07-01,Takeuchi,B2,cited by examiner
...,...,...,...,...,...,...,...
1999995,10106302,5,5111978,1992-05-01,Mengeu,A,cited by examiner
1999996,10106302,6,5240132,1993-08-01,Tucker,A,cited by applicant
1999997,10106302,7,5332112,1994-07-01,Blocker,A,cited by examiner
1999998,10106302,8,5873478,1999-02-01,Sullivan et al.,A,cited by applicant
1999999,10106302,9,6041982,2000-03-01,Cautereels et al.,A,cited by applicant

In [155]:
patents.sort_values(by='citation_patent_id')

,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category
1426509,10076318,3,1000001,1911-08-01,Holz,A,cited by applicant
1238306,10065634,3,10000205,2018-06-01,Koshiba,B2,cited by examiner
1052339,10056985,3,10000222,2018-06-01,Allshouse,B2,cited by examiner
1819425,10097282,1,10001542,2018-06-01,Steinbrecher,B1,cited by examiner
1789389,10095071,107,10001678,2018-06-01,Kimura,B2,cited by applicant
...,...,...,...,...,...,...,...
1278552,10068246,4,T955010,1977-02-01,Ragonese et al.,I4,cited by applicant
1872192,10099158,0,T959004,1977-06-01,Kirkland et al.,I4,cited by applicant
1757516,10092858,0,T959004,1977-06-01,Kirkland et al.,I4,cited by applicant
1768012,10093688,1,T986003,1979-09-01,Barrier,I4,cited by examiner
1905555,10101509,25,T987003,1979-10-01,Johnson et al.,I4,cited by applicant

In [ ]:
application['patent_id'] = application['patent_id'].astype(str)
patents['patent_id'] = patents['patent_id'].astype(str)
patents['citation_date'] = pd.to_datetime(patents['citation_date'])
patents['citation_patent_id'] = patents['citation_patent_id'].astype(str)
patents['citation_year'] = patents['citation_date'].dt.year

# 計算forward citations(被引用次數)

## (1) 嘗試連接patents & application資料集

In [81]:
# patent_id 引用的專利
# citation_patent_id 被引用的專利
# filing_date 被引用的專利 申請日期
# citation_date 被引用的專利 被其他專利引用的日期
citations = patents.merge(application[['patent_id','application_id','filing_date']], left_on='citation_patent_id', right_on='patent_id', how='left',suffixes=('','_citedby'))
citations

,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category,citation_year,patent_id_citedby,application_id,filing_date
0,10000000,0,5093563,1992-03-01,Small,A,cited by examiner,1992,5093563,07321661,1989-03-03
1,10000000,1,5751830,1998-05-01,Hutchinson,A,cited by applicant,1998,5751830,08449715,1995-05-24
2,10000001,0,7804268,2010-09-01,Park,B2,cited by examiner,2010,7804268,11979729,2007-11-07
3,10000001,1,9022767,2015-05-01,Oono,B2,cited by examiner,2015,9022767,14075179,2013-11-08
4,10000001,2,9090016,2015-07-01,Takeuchi,B2,cited by examiner,2015,9090016,14172987,2014-02-05
...,...,...,...,...,...,...,...,...,...,...,...
999995,10053193,13,7712804,2010-05-01,Leyden,B2,cited by examiner,2010,7712804,11880761,2007-07-24
999996,10053194,0,3240200,1966-03-01,Jones,A,cited by examiner,1966,NaN,NaN,NaT
999997,10053194,1,3724374,1973-04-01,Somerville,A,cited by examiner,1973,NaN,NaN,NaT
999998,10053194,2,3905291,1975-09-01,"Corbin, Jr.",A,cited by examiner,1975,NaN,NaN,NaT
999999,10053194,3,3921120,1975-11-01,Widenhofer,A,cited by examiner,1975,NaN,NaN,NaT

In [83]:
# 計算每年被引用次數
citation_counts = citations.groupby(['citation_patent_id', 'citation_year']).size().reset_index(name='yearly_forward_citations').sort_values(by='yearly_forward_citations')
citation_counts

       citation_patent_id  citation_year  yearly_forward_citations
0                  100055           1870                         1
300185            6682267           2004                         1
300184            6682256           2004                         1
300183            6682255           2004                         1
300182            6682253           2004                         1
...                   ...            ...                       ...
305558            6727522           2004                        76
359825            7211825           2007                        76
414180            7732819           2010                        77
343295            7061014           2006                        77
408036            7674650           2010                        84

[594686 rows x 3 columns]

In [85]:
citations[citations['citation_patent_id'] == '7732819']

,patent_id,citation_sequence,citation_patent_id,citation_date,record_name,wipo_kind,citation_category,citation_year,patent_id_citedby,application_id,filing_date
19050,10001414,35,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
35014,10002580,50,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
36638,10002656,55,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
38215,10002775,53,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
39382,10002884,22,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
...,...,...,...,...,...,...,...,...,...,...,...
919710,10050060,23,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
919774,10050062,22,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
920289,10050132,23,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
920466,10050152,22,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01
920490,10050153,22,7732819,2010-06-01,Akimoto et al.,B2,cited by applicant,2010,7732819,12184418,2008-08-01

In [ ]:
# 計算累積被引用次數
#citation_counts['cumulative_citation_count'] = citation_counts.groupby('citation_document_number')['yearly_citation_count'].cumsum()

## (2) 計算citation_patent_id的被引用次數: processed_patents_citations.csv

In [157]:
import pandas as pd

file_path = 'g_us_patent_citation.tsv'
output_file = "processed_patents51to52.csv"  # 儲存處理後的檔案
chunk_size = 1000000  # 每批讀取 100 萬筆資料
start = 51
end = 52

application['patent_id'] = application['patent_id'].astype(str)
# 逐批讀取 TSV 檔案並處理
for i, chunk in enumerate(pd.read_csv(file_path, sep="\t", chunksize=chunk_size, low_memory=False, encoding="utf-8")):
    if i < start:
        print(i)
        continue
    elif i >= start and i <= end:
        print(i)
        chunk['patent_id'] = chunk['patent_id'].astype(str)
        # 有些日期年分異常
        chunk['citation_date'] = pd.to_datetime(chunk['citation_date'], errors='coerce')
        chunk = chunk[chunk['citation_date'].notna()]
        chunk['citation_patent_id'] = chunk['citation_patent_id'].astype(str)
        chunk['citation_year'] = chunk['citation_date'].dt.year
        # 計算每年被引用次數
        citation_counts = chunk.groupby(['citation_patent_id', 'citation_year']).size().reset_index(name='yearly_forward_citations')
        print(len(citation_counts))
        # 儲存處理後的資料，確保第一次儲存時包含表頭，後續的批次不包含表頭
        citation_counts.to_csv(output_file, mode='a', header=i == start, index=False)
    else:
        break

C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\1168705898.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  application['patent_id'] = application['patent_id'].astype(str)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\1168705898.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['citation_patent_id'] = chunk['citation_patent_id'].astype(str)
C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\1168705898.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['citation_year'] = chunk['citation_date'].dt.year

645253
52

C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\1168705898.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['citation_patent_id'] = chunk['citation_patent_id'].astype(str)
C:\Users\Lillian\AppData\Local\Temp\ipykernel_21412\1168705898.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chunk['citation_year'] = chunk['citation_date'].dt.year

644181

In [127]:
# 資料筆數
with open(r'processed_patents_51toEnd.csv', "r", encoding="utf-8") as f:
    line_count = sum(1 for _ in f)

print(f"Total number of rows: {line_count}")

Total number of rows: 54089209

In [2]:
import pandas as pd

In [3]:
processed_patents_1 = pd.read_csv('processed_patents_0to50.csv', low_memory=False)
processed_patents_2 = pd.read_csv('processed_patents_51toEnd.csv', low_memory=False)

In [25]:
processed_patents_2.columns = processed_patents_1.columns
processed_patents = pd.concat([processed_patents_1,processed_patents_2], axis=0, ignore_index=True)
processed_patents

         citation_patent_id  citation_year  yearly_forward_citations
0                    100055           1870                         1
1                   1000910           1911                         1
2                   1000933           1911                         1
3                   1000951           1911                         1
4                   1001076           1911                         1
...                     ...            ...                       ...
82372341            T966005           1978                         1
82372342            T975002           1978                         1
82372343            T976002           1978                         1
82372344            T994001           1980                         1
82372345             pp6708           1989                         1

[82372346 rows x 3 columns]

In [26]:
processed_patents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82372346 entries, 0 to 82372345
Data columns (total 3 columns):
 #   Column                    Dtype
---  ------                    -----
 0   citation_patent_id        object
 1   citation_year             int64
 2   yearly_forward_citations  int64
dtypes: int64(2), object(1)
memory usage: 1.8+ GB

In [27]:
processed_patents['citation_patent_id'] = processed_patents['citation_patent_id'].astype(str)

In [13]:
len(processed_patents['citation_patent_id'].unique())

8855001

In [28]:
processed_patents.groupby(['citation_patent_id'])[['citation_year']].count().sort_values(by='citation_year')

                    citation_year
citation_patent_id
$974592                         1
5003280                         1
5003309                         1
5003310                         1
5003343                         1
...                           ...
3860003                       158
5104407                       161
4776337                       162
5061277                       165
4733665                       207

[8855001 rows x 1 columns]

In [29]:
processed_patents[processed_patents['citation_patent_id'] == '3860003'].sort_values(by='citation_year')

         citation_patent_id  citation_year  yearly_forward_citations
25440217            3860003           1973                         1
39814               3860003           1975                        13
47224900            3860003           1975                         3
47830535            3860003           1975                         8
48430593            3860003           1975                         5
...                     ...            ...                       ...
72917724            3860003           1990                         1
22720649            3860003           1990                         1
5740394             3860003           1990                         1
74068939            3860003           1990                         1
18088157            3860003           1990                         1

[158 rows x 3 columns]

In [30]:
# 因為前面是分開跑，之後要記得把同一patent同一年的citations相加總
processed_patents_citations = processed_patents.groupby(['citation_patent_id', 'citation_year'], as_index=False)['yearly_forward_citations'].sum()
processed_patents_citations

        citation_patent_id  citation_year  yearly_forward_citations
0                  $974592           1990                         1
1                  '799989           1989                         1
2                  '935893           1976                         1
3                 +1850714           1932                         1
4                 +3890950           1975                         1
...                    ...            ...                       ...
9012060            l640855           1927                         1
9012061             l92594           1877                         1
9012062     pct/us99/26473           2000                         1
9012063             pp6708           1989                         1
9012064            re25727           1965                         1

[9012065 rows x 3 columns]

In [31]:
processed_patents_citations[processed_patents_citations['citation_patent_id'] == '3860003'].sort_values(by='citation_year')

        citation_patent_id  citation_year  yearly_forward_citations
2653901            3860003           1973                         1
2653902            3860003           1975                      1291
2653903            3860003           1989                         6
2653904            3860003           1990                        21

In [32]:
processed_patents_citations.groupby(['citation_patent_id'])[['citation_year']].count().sort_values(by='citation_year')

                    citation_year
citation_patent_id
$974592                         1
7270918                         1
7270917                         1
7270916                         1
7270915                         1
...                           ...
3028365                         6
3878131                         6
3773919                         6
4733665                         6
3450502                         7

[8855001 rows x 1 columns]

In [42]:
processed_patents_citations[processed_patents_citations['citation_patent_id'] == '3450502']

        citation_patent_id  citation_year  yearly_forward_citations
2252848            3450502           1960                         1
2252849            3450502           1965                         1
2252850            3450502           1968                         1
2252851            3450502           1969                        30
2252852            3450502           1970                         3
2252853            3450502           1977                         1
2252854            3450502           1980                        10

In [ ]:
processed_patents_citations.to_csv(r'processed_patents_citations.csv', index=False)

# 連接 processed_patents_citations 和 application

In [9]:
import pandas as pd

In [10]:
application = pd.read_csv(r'g_application.tsv', sep='\t', low_memory=False, encoding='utf-8') #low_memory=False
application

,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
0,05497504,3963197,05,1074-08-14,05,0.0
1,05508062,3933359,05,1074-09-23,05,0.0
2,05518254,3941467,05,1074-10-29,05,0.0
3,05518570,3936670,05,1074-10-29,05,0.0
4,05555245,4003574,05,1075-03-04,05,0.0
...,...,...,...,...,...,...
9073157,05786216,4135654,05,9177-04-11,05,0.0
9073158,05967990,4255928,05,9178-12-11,05,0.0
9073159,06474610,4474874,06,9183-03-11,06,0.0
9073160,06848010,4732727,06,9186-04-03,06,0.0
9073161,05629532,4078170,05,0975-11-06,05,0.0

In [11]:
application['filing_date'] = pd.to_datetime(application['filing_date'], errors='coerce')
application['patent_id'] = application['patent_id'].astype(str)
# 去除幾筆申請日期異常的資料
application = application[application['filing_date'].notna()]
application

C:\Users\Lillian\AppData\Local\Temp\ipykernel_29932\2883372183.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  application['filing_date'] = pd.to_datetime(application['filing_date'], errors='coerce')

,application_id,patent_id,patent_application_type,filing_date,series_code,rule_47_flag
15,06368909,4381219,06,1682-04-16,06,0.0
16,06066703,4261723,06,1868-08-15,06,0.0
17,06412224,4513204,06,1872-08-27,06,0.0
18,06557282,4544017,06,1873-11-18,06,0.0
19,05798245,4134235,05,1877-05-18,05,0.0
...,...,...,...,...,...,...
9073137,35521024,D1047774,35,2024-05-06,D,0.0
9073138,35521040,D1048947,35,2024-04-19,D,0.0
9073139,35521130,D1053438,35,2024-04-12,D,0.0
9073140,35521151,D1046279,35,2024-04-12,D,0.0
9073141,35521283,D1047090,35,2024-05-11,D,0.0

In [13]:
processed_patents_citations = pd.read_csv(r'Forward_citations\processed_patents_citations.csv', low_memory=False, encoding='utf-8') #low_memory=False
processed_patents_citations

        citation_patent_id  citation_year  yearly_forward_citations
0                  $974592           1990                         1
1                  '799989           1989                         1
2                  '935893           1976                         1
3                 +1850714           1932                         1
4                 +3890950           1975                         1
...                    ...            ...                       ...
9012060            l640855           1927                         1
9012061             l92594           1877                         1
9012062     pct/us99/26473           2000                         1
9012063             pp6708           1989                         1
9012064            re25727           1965                         1

[9012065 rows x 3 columns]

In [14]:
# patent_id 引用的專利
# citation_patent_id 被引用的專利
# filing_date 被引用的專利 申請日期
# citation_date 被引用的專利 被其他專利引用的日期
citations = processed_patents_citations.merge(application[['patent_id','application_id','filing_date']], left_on='citation_patent_id', right_on='patent_id', how='left')  # ,suffixes=('','_citedby')
citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date
0,$974592,1990,1,NaN,NaN,NaT
1,'799989,1989,1,NaN,NaN,NaT
2,'935893,1976,1,NaN,NaN,NaT
3,+1850714,1932,1,NaN,NaN,NaT
4,+3890950,1975,1,NaN,NaN,NaT
...,...,...,...,...,...,...
9012060,l640855,1927,1,NaN,NaN,NaT
9012061,l92594,1877,1,NaN,NaN,NaT
9012062,pct/us99/26473,2000,1,NaN,NaN,NaT
9012063,pp6708,1989,1,NaN,NaN,NaT
9012064,re25727,1965,1,NaN,NaN,NaT

In [15]:
forward_citations = citations[citations['patent_id'].notna()].reset_index(drop=True)
forward_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date
0,10000000,2018,13,10000000,14643719,2015-03-10
1,10000003,2018,2,10000003,14437961,2013-03-12
2,10000006,2018,1,10000006,14734322,2015-06-09
3,10000007,2018,9,10000007,15178786,2016-06-10
4,10000009,2018,6,10000009,14614952,2015-02-05
...,...,...,...,...,...,...
6610115,T998005,1980,4,T998005,06020677,1979-03-15
6610116,T998008,1980,8,T998008,05955823,1978-10-30
6610117,T998009,1980,6,T998009,06060124,1979-07-24
6610118,T999001,1980,2,T999001,06060125,1979-07-24
6610119,T999002,1980,1,T999002,06081233,1979-10-02

In [81]:
forward_citations.to_csv(r'Forward_citations\citations_and_application.csv', index=False)

In [82]:
forward_citations[forward_citations['citation_patent_id'] == '7861323']

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date
4391762,7861323,2011,1,7861323,11990752,2005-08-22

## 用WRDS comp_link連接patent_id和GVKEY

In [2]:
import pandas as pd

In [3]:
comp_link = pd.read_csv(r'WRDS US patents_compustat link.csv',low_memory=False, encoding='utf-8') # , sep='\t'
comp_link

,patnum,gvkey_numeric,link_bdate,initial_assign,subsidiary_flag,wrds_score,multi_names_flag,gvkey
0,07861318,160718,2011-01-04,Y,Y,4,0,160718.0
1,07861331,10535,2011-01-04,Y,NaN,3,0,10535.0
2,07861334,10115,2011-01-04,Y,NaN,3,0,10115.0
3,07861335,10115,2011-01-04,Y,NaN,3,0,10115.0
4,07861343,11465,2011-01-04,Y,NaN,2,0,11465.0
...,...,...,...,...,...,...,...,...
1471271,RE047788,10622,2019-12-31,Y,NaN,5,1,10622.0
1471272,RE047789,31295,2019-12-31,Y,Y,6,0,31295.0
1471273,RE047790,5047,2019-12-31,Y,NaN,2,0,5047.0
1471274,RE047792,251303,2019-12-31,Y,NaN,1,0,251303.0
1471275,RE047794,7647,2019-12-31,Y,Y,6,0,7647.0

In [4]:
comp_link['patnum'] = comp_link['patnum'].astype(str)

In [5]:
comp_link['patnum'].unique()

array(['07861318', '07861331', '07861334', ..., 'RE047790', 'RE047792',
       'RE047794'], dtype=object)

In [6]:
# 因為 patentsView 的 patent_id 前面沒有0，所以去除
comp_link['patnum'] = comp_link['patnum'].astype(str).str.lstrip('0')

In [7]:
comp_link

,patnum,gvkey_numeric,link_bdate,initial_assign,subsidiary_flag,wrds_score,multi_names_flag,gvkey
0,7861318,160718,2011-01-04,Y,Y,4,0,160718.0
1,7861331,10535,2011-01-04,Y,NaN,3,0,10535.0
2,7861334,10115,2011-01-04,Y,NaN,3,0,10115.0
3,7861335,10115,2011-01-04,Y,NaN,3,0,10115.0
4,7861343,11465,2011-01-04,Y,NaN,2,0,11465.0
...,...,...,...,...,...,...,...,...
1471271,RE047788,10622,2019-12-31,Y,NaN,5,1,10622.0
1471272,RE047789,31295,2019-12-31,Y,Y,6,0,31295.0
1471273,RE047790,5047,2019-12-31,Y,NaN,2,0,5047.0
1471274,RE047792,251303,2019-12-31,Y,NaN,1,0,251303.0
1471275,RE047794,7647,2019-12-31,Y,Y,6,0,7647.0

In [8]:
forward_citations = pd.read_csv(r'Forward_citations\citations_and_application.csv', low_memory=False, encoding='utf-8')
forward_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date
0,10000000,2018,13,10000000,14643719,2015-03-10
1,10000003,2018,2,10000003,14437961,2013-03-12
2,10000006,2018,1,10000006,14734322,2015-06-09
3,10000007,2018,9,10000007,15178786,2016-06-10
4,10000009,2018,6,10000009,14614952,2015-02-05
...,...,...,...,...,...,...
6610115,T998005,1980,4,T998005,06020677,1979-03-15
6610116,T998008,1980,8,T998008,05955823,1978-10-30
6610117,T998009,1980,6,T998009,06060124,1979-07-24
6610118,T999001,1980,2,T999001,06060125,1979-07-24
6610119,T999002,1980,1,T999002,06081233,1979-10-02

In [9]:
# 每個patent的專利擁有者
unique_link = comp_link[['patnum', 'gvkey_numeric']].drop_duplicates()
unique_link

           patnum  gvkey_numeric
0         7861318         160718
1         7861331          10535
2         7861334          10115
3         7861335          10115
4         7861343          11465
...           ...            ...
1471270  RE047788          10622
1471272  RE047789          31295
1471273  RE047790           5047
1471274  RE047792         251303
1471275  RE047794           7647

[1469772 rows x 2 columns]

In [10]:
patents_gvkey = forward_citations.merge(unique_link, left_on=['citation_patent_id'], right_on=['patnum'], how='left')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0
1,10000003,2018,2,10000003,14437961,2013-03-12,NaN,NaN
2,10000006,2018,1,10000006,14734322,2015-06-09,NaN,NaN
3,10000007,2018,9,10000007,15178786,2016-06-10,NaN,NaN
4,10000009,2018,6,10000009,14614952,2015-02-05,NaN,NaN
...,...,...,...,...,...,...,...,...
6618137,T998005,1980,4,T998005,06020677,1979-03-15,NaN,NaN
6618138,T998008,1980,8,T998008,05955823,1978-10-30,NaN,NaN
6618139,T998009,1980,6,T998009,06060124,1979-07-24,NaN,NaN
6618140,T999001,1980,2,T999001,06060125,1979-07-24,NaN,NaN
6618141,T999002,1980,1,T999002,06081233,1979-10-02,NaN,NaN

In [11]:
patents_gvkey = patents_gvkey[patents_gvkey['gvkey_numeric'].notna()].reset_index(drop=True)
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0
...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0

In [12]:
# 同一個patent可能有不只一個專利擁有者
patents_gvkey.groupby('patnum').count().sort_values(by='gvkey_numeric')

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,gvkey_numeric
patnum,,,,,,,
10000000,1,1,1,1,1,1,1
9043513,1,1,1,1,1,1,1
9043516,1,1,1,1,1,1,1
9043517,1,1,1,1,1,1,1
9043518,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...
8477267,6,6,6,6,6,6,6
8287676,7,7,7,7,7,7,7
8277560,8,8,8,8,8,8,8
8997665,9,9,9,9,9,9,9
7871586,9,9,9,9,9,9,9

In [13]:
patents_gvkey['filing_year'] = pd.to_datetime(patents_gvkey['filing_date']).dt.year

In [14]:
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [15]:
patents_gvkey.describe()

       citation_year  yearly_forward_citations  gvkey_numeric    filing_year
count  903570.000000             903570.000000   9.035700e+05  903570.000000
mean     2014.813886                 11.017176   7.683164e+04    2011.593034
std         2.596671                 50.829139   8.742119e+04       3.359592
min      1905.000000                  1.000000   1.002000e+03    1972.000000
25%      2013.000000                  1.000000   6.737000e+03    2009.000000
50%      2015.000000                  3.000000   2.480000e+04    2012.000000
75%      2017.000000                  8.000000   1.229210e+05    2014.000000
max      2020.000000               2379.000000   1.421755e+06    2019.000000

In [17]:
patents_gvkey.to_csv(r'Forward_citations\patents_gvkey.csv', index=False)

## version 1

In [15]:
# 轉換日期欄位
patents_gvkey["filing_year"] = patents_gvkey["filing_year"].astype(int)
patents_gvkey["citation_year"] = patents_gvkey["citation_year"].astype(int)

# 確定 citation_year 是否在 filing_year 後五年內
patents_gvkey["within_5_years"] = (
    (patents_gvkey["citation_year"] >= patents_gvkey["filing_year"] + 1) & 
    (patents_gvkey["citation_year"] <= patents_gvkey["filing_year"] + 5)
)
# 計算 total_5yr_forward_citations
total_citations = (
    patents_gvkey[patents_gvkey["within_5_years"]] # 某個gvkey在某一filing_year中有幾個patent後五年有citations
    .groupby(["gvkey_numeric", "filing_year"])["yearly_forward_citations"]
    .sum()
    .reset_index()
)

# 找到 filing_year 後五年完全沒有 forward citations 的 gvkey_numeric
no_citations = (
    patents_gvkey.groupby(["gvkey_numeric", "filing_year"])["within_5_years"]
    .sum()
    .reset_index()
)

# 如果 filing_year 後 5 年內沒有 forward citations，就設為 0
final_result = pd.merge(total_citations, no_citations, on=["gvkey_numeric", "filing_year"], how="right")

# 如果 filing_year 後 5 年內沒有 forward citations，則 total_5yr_forward_citations 設為 0
final_result["yearly_forward_citations"].fillna(0, inplace=True)

# 保留需要的欄位
final_result.rename(columns={"yearly_forward_citations": "total_5yr_forward_citations"}, inplace=True)
final_result

C:\Users\Lillian\AppData\Local\Temp\ipykernel_24292\695911889.py:29: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["yearly_forward_citations"].fillna(0, inplace=True)

       gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
0             1002.0         2004                          0.0               0
1             1002.0         2007                          7.0               2
2             1002.0         2009                         47.0               8
3             1002.0         2010                         15.0               4
4             1002.0         2012                         13.0               2
...              ...          ...                          ...             ...
61825      1421755.0         2011                         17.0               6
61826      1421755.0         2012                          9.0               3
61827      1421755.0         2013                          2.0               2
61828      1421755.0         2014                          1.0               1
61829      1421755.0         2015                          3.0               1

[61830 rows x 4 columns]

In [64]:
final_result.describe()

,gvkey_numeric,filing_year,total_5yr_forward_citations,within_5_years
count,6.183000e+04,61830.000000,61830.000000,61830.000000
mean,1.228218e+05,2011.029824,137.660165,12.932072
std,1.048095e+05,4.135311,1480.387979,85.525518
min,1.002000e+03,1972.000000,0.000000,0.000000
25%,1.991200e+04,2008.000000,1.000000,1.000000
50%,1.026630e+05,2011.000000,8.000000,1.000000
75%,2.081490e+05,2014.000000,35.000000,5.000000
max,1.421755e+06,2019.000000,175988.000000,4909.000000

In [65]:
patents_gvkey[(patents_gvkey['gvkey_numeric'] == 1002)&(patents_gvkey['filing_year'] == 2009)]

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year,within_5_years
225914,8079322,2011,1,8079322,12504977,2009-07-17,8079322,1002.0,2009,True
285903,8220747,2012,1,8220747,12622137,2009-11-19,8220747,1002.0,2009,True
285904,8220748,2012,2,8220748,12622159,2009-11-19,8220748,1002.0,2009,True
285905,8220749,2012,2,8220749,12622177,2009-11-19,8220749,1002.0,2009,True
291618,8234070,2012,1,8234070,12487542,2009-06-18,8234070,1002.0,2009,True
309224,8275571,2012,1,8275571,12487545,2009-06-18,8275571,1002.0,2009,True
334620,8336816,2012,9,8336816,12582208,2009-10-20,8336816,1002.0,2009,True
478485,8706440,2014,30,8706440,12487539,2009-06-18,8706440,1002.0,2009,True

In [66]:
len(patents_gvkey[patents_gvkey['gvkey_numeric'] == 1002])

31

In [67]:
patents_gvkey[patents_gvkey['gvkey_numeric'] == 1002]['filing_year'].unique()

array([2017, 2018, 2007, 2004, 2009, 2010, 2012, 2014, 2013, 2015])

In [68]:
final_result[final_result['gvkey_numeric'] == 1002]#['filing_year'].unique()

   gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
0         1002.0         2004                          0.0               0
1         1002.0         2007                          7.0               2
2         1002.0         2009                         47.0               8
3         1002.0         2010                         15.0               4
4         1002.0         2012                         13.0               2
5         1002.0         2013                          2.0               2
6         1002.0         2014                         38.0               8
7         1002.0         2015                          8.0               2
8         1002.0         2017                         14.0               1
9         1002.0         2018                          2.0               1

In [69]:
final_result.to_csv(r'Forward_citations\total_5yr_forward_citations.csv', index=False)

## version 2

In [ ]:
# 可能要增加一個條件: 若 20 年間有至少發表過一個專利，他在其他沒有申請專利的年份就為 0

import pandas as pd
import numpy as np

# 假設 patents_gvkey 已經載入
patents_gvkey["filing_year"] = patents_gvkey["filing_year"].astype(int)
patents_gvkey["citation_year"] = patents_gvkey["citation_year"].astype(int)

# 確定 citation_year(被引用年分) 是否在 filing_year 後五年內 True/False
# 即該patent五年內有被引用過
patents_gvkey["within_5_years"] = (
    (patents_gvkey["citation_year"] >= patents_gvkey["filing_year"] + 1) & 
    (patents_gvkey["citation_year"] <= patents_gvkey["filing_year"] + 5)
)

# 計算 total_5yr_forward_citations (針對citation_year在filing_year後五年內的專利)
total_citations = (
    patents_gvkey[patents_gvkey["within_5_years"]] # 某個gvkey在某一filing_year中有幾個patent後五年有citations
    .groupby(["gvkey_numeric", "filing_year"])["yearly_forward_citations"]
    .sum()
    .reset_index()
)

# 找出每個gvkey在各個filing_year申請的所有專利中，有幾個patent在申請後五年有被其他專利引用
# within_5_years:某個gvkey在某一filing_year中有申請patent，其中有幾個patent在申請後五年有被其他專利引用
# True(該patent五年內有被引用過) 被視為 1，False 被視為 0
no_citations = (
    patents_gvkey.groupby(["gvkey_numeric", "filing_year"])["within_5_years"]
    .sum()
    .reset_index()
)

# 合併，確保 total_5yr_forward_citations 設為 0
final_result = pd.merge(total_citations, no_citations, on=["gvkey_numeric", "filing_year"], how="right")
# 合併後若yearly_forward_citations為空值，表示某公司該年所申請的所有專利在五年內沒有被引用過，所以設0
final_result["yearly_forward_citations"].fillna(0, inplace=True)

# 重新命名欄位
final_result.rename(columns={"yearly_forward_citations": "total_5yr_forward_citations"}, inplace=True)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = patents_gvkey[(patents_gvkey["filing_year"] >= 2000) & (patents_gvkey["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
final_result = pd.merge(all_combinations, final_result, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 total_5yr_forward_citations 設為 0
final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

# 輸出結果
final_result
# within_5_years
# 有值:某個gvkey在某一filing_year中有申請patent，其中有幾個patent在申請後五年有被其他專利引用
# 沒值:某個gvkey在某一filing_year中沒申請任何patent，forward_citations設0

C:\Users\Lillian\AppData\Local\Temp\ipykernel_21580\3891547517.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["yearly_forward_citations"].fillna(0, inplace=True)
C:\Users\Lillian\AppData\Local\Temp\ipykernel_21580\3891547517.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

,gvkey_numeric,filing_year,total_5yr_forward_citations,within_5_years
0,8972.0,2000,0.0,0.0
1,8972.0,2001,0.0,NaN
2,8972.0,2002,0.0,NaN
3,8972.0,2003,0.0,0.0
4,8972.0,2004,0.0,0.0
...,...,...,...,...
248335,288914.0,2015,1.0,1.0
248336,288914.0,2016,1.0,1.0
248337,288914.0,2017,0.0,NaN
248338,288914.0,2018,0.0,NaN
248339,288914.0,2019,0.0,NaN

In [ ]:
# True 被視為 1，False 被視為 0
patents_gvkey.groupby(["gvkey_numeric", "filing_year"])["within_5_years"].sum()

gvkey_numeric  filing_year
1002.0         2004           0
               2007           2
               2009           8
               2010           4
               2012           2
                             ..
1421755.0      2011           6
               2012           3
               2013           2
               2014           1
               2015           1
Name: within_5_years, Length: 61830, dtype: int64

In [1]:
#patents_gvkey[patents_gvkey['gvkey_numeric'] == 1002]

In [17]:
total_citations

       gvkey_numeric  filing_year  yearly_forward_citations
0             1002.0         2007                         7
1             1002.0         2009                        47
2             1002.0         2010                        15
3             1002.0         2012                        13
4             1002.0         2013                         2
...              ...          ...                       ...
52104      1421755.0         2011                        17
52105      1421755.0         2012                         9
52106      1421755.0         2013                         2
52107      1421755.0         2014                         1
52108      1421755.0         2015                         3

[52109 rows x 3 columns]

In [ ]:
no_citations

       gvkey_numeric  filing_year  within_5_years
0             1002.0         2004               0
1             1002.0         2007               2
2             1002.0         2009               8
3             1002.0         2010               4
4             1002.0         2012               2
...              ...          ...             ...
61825      1421755.0         2011               6
61826      1421755.0         2012               3
61827      1421755.0         2013               2
61828      1421755.0         2014               1
61829      1421755.0         2015               1

[61830 rows x 3 columns]

In [19]:
all_combinations

        gvkey_numeric  filing_year
0              8972.0         2000
1              8972.0         2001
2              8972.0         2002
3              8972.0         2003
4              8972.0         2004
...               ...          ...
248335       288914.0         2015
248336       288914.0         2016
248337       288914.0         2017
248338       288914.0         2018
248339       288914.0         2019

[248340 rows x 2 columns]

In [31]:
final_result.describe()

,gvkey_numeric,filing_year,total_5yr_forward_citations,within_5_years
count,2.483400e+05,248340.000000,248340.000000,61649.000000
mean,1.433108e+05,2009.500000,34.273689,12.970040
std,1.107717e+05,5.766293,741.062509,85.648104
min,1.002000e+03,2000.000000,0.000000,0.000000
25%,2.505400e+04,2004.750000,0.000000,1.000000
50%,1.452690e+05,2009.500000,0.000000,1.000000
75%,2.429820e+05,2014.250000,0.000000,5.000000
max,1.421755e+06,2019.000000,175988.000000,4909.000000

In [20]:
patents_gvkey[patents_gvkey['gvkey_numeric'] == 1002]

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year,within_5_years
12323,10044465,2018,14,10044465,15424435,2017-02-03,10044465,1002.0,2017,True
88553,10337809,2019,2,10337809,16044244,2018-07-24,10337809,1002.0,2018,True
196502,8011620,2011,4,8011620,11984387,2007-11-16,8011620,1002.0,2007,True
203915,8028629,2011,2,8028629,10962430,2004-10-13,8028629,1002.0,2004,False
225914,8079322,2011,1,8079322,12504977,2009-07-17,8079322,1002.0,2009,True
285903,8220747,2012,1,8220747,12622137,2009-11-19,8220747,1002.0,2009,True
285904,8220748,2012,2,8220748,12622159,2009-11-19,8220748,1002.0,2009,True
285905,8220749,2012,2,8220749,12622177,2009-11-19,8220749,1002.0,2009,True
291618,8234070,2012,1,8234070,12487542,2009-06-18,8234070,1002.0,2009,True
292064,8235027,2012,3,8235027,11984396,2007-11-16,8235027,1002.0,2007,True
301226,8256287,2012,2,8256287,12760689,2010-04-15,8256287,1002.0,2010,True
309224,8275571,2012,1,8275571,12487545,2009-06-18,8275571,1002.0,2009,True
334620,8336816,2012,9,8336816,12582208,2009-10-20,8336816,1002.0,2009,True
381158,8453967,2013,10,8453967,12796950,2010-06-09,8453967,1002.0,2010,True
466822,8675183,2014,2,8675183,12700714,2010-02-04,8675183,1002.0,2010,True
478485,8706440,2014,30,8706440,12487539,2009-06-18,8706440,1002.0,2009,True
515838,8807039,2014,12,8807039,13534246,2012-06-27,8807039,1002.0,2012,True
548873,8896696,2014,1,8896696,12772541,2010-05-03,8896696,1002.0,2010,True
660496,9221546,2015,2,9221546,14184050,2014-02-19,9221546,1002.0,2014,True
676123,9267772,2016,14,9267772,14336846,2014-07-21,9267772,1002.0,2014,True
681593,9284043,2016,1,9284043,14086370,2013-11-21,9284043,1002.0,2013,True
689737,9308994,2016,15,9308994,14191508,2014-02-27,9308994,1002.0,2014,True
704616,9354103,2016,1,9354103,14094837,2013-12-03,9354103,1002.0,2013,True
712070,9376953,2016,1,9376953,14314087,2014-06-25,9376953,1002.0,2014,True
717926,9394812,2016,2,9394812,14327024,2014-07-09,9394812,1002.0,2014,True
760911,9529704,2016,1,9529704,13606277,2012-09-07,9529704,1002.0,2012,True
811041,9688415,2017,1,9688415,14963716,2015-12-09,9688415,1002.0,2015,True
813076,9694909,2017,1,9694909,14333621,2014-07-17,9694909,1002.0,2014,True
862677,9858798,2018,2,9858798,14246181,2014-04-07,9858798,1002.0,2014,True
863845,9862505,2018,1,9862505,14225751,2014-03-26,9862505,1002.0,2014,True
891511,9957064,2018,7,9957064,14707424,2015-05-08,9957064,1002.0,2015,True

In [ ]:
final_result[final_result['gvkey_numeric'] == 1002]
# within_5_years
# 有值:某個gvkey在某一filing_year中有申請patent，那些patent在後五年有被其他專利引用的個數
# 沒值:某個gvkey在某一filing_year中沒申請patent，forward_citations設0

       gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
40920         1002.0         2000                          0.0             NaN
40921         1002.0         2001                          0.0             NaN
40922         1002.0         2002                          0.0             NaN
40923         1002.0         2003                          0.0             NaN
40924         1002.0         2004                          0.0             0.0
40925         1002.0         2005                          0.0             NaN
40926         1002.0         2006                          0.0             NaN
40927         1002.0         2007                          7.0             2.0
40928         1002.0         2008                          0.0             NaN
40929         1002.0         2009                         47.0             8.0
40930         1002.0         2010                         15.0             4.0
40931         1002.0         2011                          0.0             NaN
40932         1002.0         2012                         13.0             2.0
40933         1002.0         2013                          2.0             2.0
40934         1002.0         2014                         38.0             8.0
40935         1002.0         2015                          8.0             2.0
40936         1002.0         2016                          0.0             NaN
40937         1002.0         2017                         14.0             1.0
40938         1002.0         2018                          2.0             1.0
40939         1002.0         2019                          0.0             NaN

In [33]:
final_result.to_csv(r'Forward_citations\total_5yr_forward_citations_v2.csv', index=False)

# 計算 patent count

In [1]:
import pandas as pd
import numpy as np

In [2]:
patents_gvkey = pd.read_csv(r'Forward_citations\patents_gvkey.csv')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [3]:
patents_gvkey.describe()

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,patnum,gvkey_numeric,filing_year
count,9.035700e+05,903570.000000,903570.000000,9.035700e+05,9.035700e+05,9.035700e+05,9.035700e+05,903570.000000
mean,9.049478e+06,2014.813886,11.017176,9.049478e+06,1.355375e+07,9.049478e+06,7.683164e+04,2011.593034
std,7.529191e+05,2.596671,50.829139,7.529191e+05,1.248081e+06,7.529191e+05,8.742119e+04,3.359592
min,7.861318e+06,1905.000000,1.000000,7.861318e+06,5.298674e+06,7.861318e+06,1.002000e+03,1972.000000
25%,8.388663e+06,2013.000000,1.000000,8.388663e+06,1.260585e+07,8.388663e+06,6.737000e+03,2009.000000
50%,8.985876e+06,2015.000000,3.000000,8.985876e+06,1.351957e+07,8.985876e+06,2.480000e+04,2012.000000
75%,9.675428e+06,2017.000000,8.000000,9.675428e+06,1.455526e+07,9.675428e+06,1.229210e+05,2014.000000
max,1.052440e+07,2020.000000,2379.000000,1.052440e+07,1.657483e+07,1.052440e+07,1.421755e+06,2019.000000

In [3]:
patents = patents_gvkey[["gvkey_numeric", "filing_year", "patent_id"]]

result_df = patents.groupby(['gvkey_numeric', 'filing_year'], as_index=False).agg(
    patents_count=('patent_id', 'size'),  # 計算該組合出現次數
)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = patents[(patents["filing_year"] >= 2000) & (patents["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
result_df = pd.merge(all_combinations, result_df, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 patents_count 設為 0
result_df["patents_count"].fillna(0, inplace=True)
result_df

C:\Users\Lillian\AppData\Local\Temp\ipykernel_32516\2164419004.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_df["patents_count"].fillna(0, inplace=True)

        gvkey_numeric  filing_year  patents_count
0              8972.0         2000            1.0
1              8972.0         2001            0.0
2              8972.0         2002            0.0
3              8972.0         2003            4.0
4              8972.0         2004           11.0
...               ...          ...            ...
248335       288914.0         2015            1.0
248336       288914.0         2016            1.0
248337       288914.0         2017            0.0
248338       288914.0         2018            0.0
248339       288914.0         2019            0.0

[248340 rows x 3 columns]

In [8]:
patents_gvkey[(patents_gvkey['gvkey_numeric']==8972)&(patents_gvkey['filing_year']==2004)]

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
142349,7889767,2011,4,7889767,10964383,2004-10-13,7889767,8972.0,2004
150716,7908040,2011,53,7908040,10892747,2004-07-15,7908040,8972.0,2004
151148,7908973,2011,2,7908973,10981949,2004-11-05,7908973,8972.0,2004
183752,7983042,2011,1,7983042,10869183,2004-06-15,7983042,8972.0,2004
273353,8190714,2012,20,8190714,10825345,2004-04-15,8190714,8972.0,2004
296292,8244882,2012,11,8244882,10991994,2004-11-17,8244882,8972.0,2004
334300,8335909,2012,28,8335909,10824874,2004-04-15,8335909,8972.0,2004
334372,8336040,2012,28,8336040,10825021,2004-04-15,8336040,8972.0,2004
336806,8341965,2013,2,8341965,10876789,2004-06-24,8341965,8972.0,2004
350134,8375620,2013,20,8375620,11021822,2004-12-23,8375620,8972.0,2004
646405,9178784,2015,8,9178784,10825539,2004-04-15,9178784,8972.0,2004

In [10]:
A=pd.read_csv(r'Forward_citations\total_5yr_forward_citations_v2.csv')
A[(A['gvkey_numeric']==8972)&(A['filing_year']==2004)]

   gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
4         8972.0         2004                          0.0             0.0

In [ ]:
result_df.to_csv(r'Forward_citations\patents_count.csv', index=False)

# 計算 green patent count

In [13]:
import pandas as pd
import numpy as np

## (1)patentsView current CPC

In [10]:
green_patents_citations = pd.read_csv(r'Forward_citations\green_patents_citations.csv')
green_patents_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
1,10000038,2018,2,10000038,15032109,2014-10-27,10000038,102766.0,2014
2,10000125,2018,4,10000125,14876074,2015-10-06,10000125,203215.0,2015
3,10000126,2018,1,10000126,14687415,2015-04-15,10000126,4839.0,2015
4,10000129,2018,3,10000129,14800095,2015-07-15,10000129,4839.0,2015
...,...,...,...,...,...,...,...,...,...
75868,9999351,2018,5,9999351,15201589,2016-07-04,9999351,23856.0,2016
75869,9999379,2018,18,9999379,14534054,2014-11-05,9999379,162887.0,2014
75870,9999750,2018,2,9999750,15286418,2016-10-05,9999750,2044.0,2016
75871,9999920,2018,3,9999920,14676864,2015-04-02,9999920,32106.0,2015
75872,9999924,2018,28,9999924,14832691,2015-08-21,9999924,185587.0,2015

In [11]:
patents = green_patents_citations[["gvkey_numeric", "filing_year", "patent_id"]]

result_df = patents.groupby(['gvkey_numeric', 'filing_year'], as_index=False).agg(
    patents_count=('patent_id', 'size'),  # 計算該組合出現次數
)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = patents[(patents["filing_year"] >= 2000) & (patents["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
result_df = pd.merge(all_combinations, result_df, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 patents_count 設為 0
result_df["patents_count"].fillna(0, inplace=True)
result_df

C:\Users\Lillian\AppData\Local\Temp\ipykernel_37816\3476595668.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_df["patents_count"].fillna(0, inplace=True)

       gvkey_numeric  filing_year  patents_count
0           321421.0         2000            0.0
1           321421.0         2001            0.0
2           321421.0         2002            0.0
3           321421.0         2003            0.0
4           321421.0         2004            0.0
...              ...          ...            ...
74455       288843.0         2015            0.0
74456       288843.0         2016            1.0
74457       288843.0         2017            0.0
74458       288843.0         2018            0.0
74459       288843.0         2019            0.0

[74460 rows x 3 columns]

In [12]:
result_df.to_csv(r'Forward_citations\green_patents_count.csv', index=False)

## (2)KPSS CPC

In [16]:
green_patents_id = pd.read_csv(r'KPSS_2023\green_patents.csv')
green_patents_id

        patent_id
0         1572507
1         1572927
2         1575859
3         1577371
4         1578867
...           ...
140547   11855766
140548   11856513
140549   11856621
140550   11856639
140551   11856849

[140552 rows x 1 columns]

In [17]:
patents_gvkey = pd.read_csv(r'Forward_citations\patents_gvkey.csv')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [19]:
patents_gvkey['patent_id'] = patents_gvkey['patent_id'].astype(str)
green_patents_id['patent_id'] = green_patents_id['patent_id'].astype(str)
green_patents_citations = patents_gvkey.merge(green_patents_id, on = 'patent_id', how='inner')
green_patents_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000129,2018,3,10000129,14800095,2015-07-15,10000129,4839.0,2015
1,10000293,2018,16,10000293,14969640,2015-12-15,10000293,5047.0,2015
2,10001013,2018,3,10001013,14198659,2014-03-06,10001013,5047.0,2014
3,10001022,2018,4,10001022,14394215,2014-04-21,10001022,10983.0,2014
4,10001070,2018,1,10001070,15262442,2016-09-12,10001070,3650.0,2016
...,...,...,...,...,...,...,...,...,...
29963,9998960,2018,2,9998960,14944131,2015-11-17,9998960,24800.0,2015
29964,9998971,2018,2,9998971,14127621,2013-10-30,9998971,6008.0,2013
29965,9998991,2018,1,9998991,14914888,2013-08-28,9998991,4439.0,2013
29966,9999020,2018,1,9999020,15107740,2015-01-05,9999020,251303.0,2015
29967,9999920,2018,3,9999920,14676864,2015-04-02,9999920,32106.0,2015

In [20]:
patents = green_patents_citations[["gvkey_numeric", "filing_year", "patent_id"]]

result_df = patents.groupby(['gvkey_numeric', 'filing_year'], as_index=False).agg(
    patents_count=('patent_id', 'size'),  # 計算該組合出現次數
)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = patents[(patents["filing_year"] >= 2000) & (patents["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
result_df = pd.merge(all_combinations, result_df, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 patents_count 設為 0
result_df["patents_count"].fillna(0, inplace=True)
result_df

C:\Users\Lillian\AppData\Local\Temp\ipykernel_37816\3476595668.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  result_df["patents_count"].fillna(0, inplace=True)

       gvkey_numeric  filing_year  patents_count
0             4839.0         2000            0.0
1             4839.0         2001            0.0
2             4839.0         2002            0.0
3             4839.0         2003            0.0
4             4839.0         2004            3.0
...              ...          ...            ...
18215       212746.0         2015            1.0
18216       212746.0         2016            0.0
18217       212746.0         2017            0.0
18218       212746.0         2018            0.0
18219       212746.0         2019            0.0

[18220 rows x 3 columns]

In [21]:
result_df.to_csv(r'Forward_citations\green_patents_count_KPSS.csv', index=False)

# 計算 green_patents 的 citations

In [19]:
import pandas as pd
import numpy as np

In [11]:
green_patents = pd.read_csv(r'KPSS_2023\green_patents.csv')
green_patents

        patent_id
0         1572507
1         1572927
2         1575859
3         1577371
4         1578867
...           ...
140547   11855766
140548   11856513
140549   11856621
140550   11856639
140551   11856849

[140552 rows x 1 columns]

In [12]:
patents_gvkey = pd.read_csv(r'Forward_citations\patents_gvkey.csv')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [15]:
green_patents_citations = patents_gvkey.merge(green_patents, on = 'patent_id', how='inner')
green_patents_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000129,2018,3,10000129,14800095,2015-07-15,10000129,4839.0,2015
1,10000293,2018,16,10000293,14969640,2015-12-15,10000293,5047.0,2015
2,10001013,2018,3,10001013,14198659,2014-03-06,10001013,5047.0,2014
3,10001022,2018,4,10001022,14394215,2014-04-21,10001022,10983.0,2014
4,10001070,2018,1,10001070,15262442,2016-09-12,10001070,3650.0,2016
...,...,...,...,...,...,...,...,...,...
29963,9998960,2018,2,9998960,14944131,2015-11-17,9998960,24800.0,2015
29964,9998971,2018,2,9998971,14127621,2013-10-30,9998971,6008.0,2013
29965,9998991,2018,1,9998991,14914888,2013-08-28,9998991,4439.0,2013
29966,9999020,2018,1,9999020,15107740,2015-01-05,9999020,251303.0,2015
29967,9999920,2018,3,9999920,14676864,2015-04-02,9999920,32106.0,2015

In [18]:
green_patents_citations.nunique()

citation_patent_id          29657
citation_year                  21
yearly_forward_citations      219
patent_id                   29657
application_id              29657
filing_date                  3808
patnum                      29657
gvkey_numeric                 911
filing_year                    22
dtype: int64

In [20]:
# 假設 patents_gvkey 已經載入
green_patents_citations["filing_year"] = green_patents_citations["filing_year"].astype(int)
green_patents_citations["citation_year"] = green_patents_citations["citation_year"].astype(int)

# 確定 citation_year(被引用年分) 是否在 filing_year 後五年內 True/False
# 即該patent五年內有被引用過
green_patents_citations["within_5_years"] = (
    (green_patents_citations["citation_year"] >= green_patents_citations["filing_year"] + 1) & 
    (green_patents_citations["citation_year"] <= green_patents_citations["filing_year"] + 5)
)

# 計算 total_5yr_forward_citations (針對citation_year在filing_year後五年內的專利)
total_citations = (
    green_patents_citations[green_patents_citations["within_5_years"]] # 某個gvkey在某一filing_year中有幾個patent後五年有citations
    .groupby(["gvkey_numeric", "filing_year"])["yearly_forward_citations"]
    .sum()
    .reset_index()
)

# 找出每個gvkey在各個filing_year申請的所有專利中，有幾個patent在申請後五年有被其他專利引用
# within_5_years:某個gvkey在某一filing_year中有申請patent，其中有幾個patent在申請後五年有被其他專利引用
# True(該patent五年內有被引用過) 被視為 1，False 被視為 0
no_citations = (
    green_patents_citations.groupby(["gvkey_numeric", "filing_year"])["within_5_years"]
    .sum()
    .reset_index()
)

# 合併，確保 total_5yr_forward_citations 設為 0
final_result = pd.merge(total_citations, no_citations, on=["gvkey_numeric", "filing_year"], how="right")
# 合併後若yearly_forward_citations為空值，表示某公司該年所申請的所有專利在五年內沒有被引用過，所以設0
final_result["yearly_forward_citations"].fillna(0, inplace=True)

# 重新命名欄位
final_result.rename(columns={"yearly_forward_citations": "total_5yr_forward_citations"}, inplace=True)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = green_patents_citations[(green_patents_citations["filing_year"] >= 2000) & (green_patents_citations["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
final_result = pd.merge(all_combinations, final_result, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 total_5yr_forward_citations 設為 0
final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

# 輸出結果
final_result

C:\Users\Lillian\AppData\Local\Temp\ipykernel_34324\1530753161.py:32: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["yearly_forward_citations"].fillna(0, inplace=True)
C:\Users\Lillian\AppData\Local\Temp\ipykernel_34324\1530753161.py:51: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

       gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
0             4839.0         2000                          0.0             NaN
1             4839.0         2001                          0.0             NaN
2             4839.0         2002                          0.0             NaN
3             4839.0         2003                          0.0             NaN
4             4839.0         2004                          0.0             0.0
...              ...          ...                          ...             ...
18215       212746.0         2015                          1.0             1.0
18216       212746.0         2016                          0.0             NaN
18217       212746.0         2017                          0.0             NaN
18218       212746.0         2018                          0.0             NaN
18219       212746.0         2019                          0.0             NaN

[18220 rows x 4 columns]

In [21]:
final_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18220 entries, 0 to 18219
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gvkey_numeric                18220 non-null  float64
 1   filing_year                  18220 non-null  int32
 2   total_5yr_forward_citations  18220 non-null  float64
 3   within_5_years               3860 non-null   float64
dtypes: float64(3), int32(1)
memory usage: 498.3 KB

In [22]:
final_result.to_csv(r'Forward_citations\total_5yr_forward_citations_v2_green.csv', index=False)

# g_cpc_at_issue
CPC classification data for granted patents at the time of their issue.

In [ ]:
# 若要直接讀壓縮檔
from zipfile import ZipFile 
import zipfile 
import pandas as pd

# specifying the zip file name 
file_name = r"g_cpc_at_issue.tsv.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir()

archive = zipfile.ZipFile(file_name, 'r')
zipfile.ZipFile.namelist(archive)

CPC = pd.read_csv(archive.open('g_cpc_at_issue.tsv'), sep='\t')
CPC

File Name                                             Modified             Size
g_cpc_at_issue.tsv                             2025-03-13 21:48:06   1917912539

,patent_id,cpc_sequence,cpc_version_indicator,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type,cpc_action_date
0,8992713,12,2013-01-01,H,H05,H05K,H05K3/4644,additional,2015-03-31
1,9339050,2,2013-01-01,A,A23,A23G,A23G3/0031,inventional,2016-05-17
2,10333523,3,2013-01-01,H,H01,H01L,H01L43/08,inventional,2019-06-25
3,9562796,3,2013-01-01,G,G01,G01F,G01F1/50,inventional,2017-02-07
4,9538186,3,2014-11-01,H,H04,H04N,H04N19/172,inventional,2017-01-03
...,...,...,...,...,...,...,...,...,...
23166170,9580295,7,2013-01-01,H,H04,H04L,H04L63/0428,inventional,2017-02-28
23166171,8991366,12,2013-01-01,F,F02,F02D,F02D2009/0279,additional,2015-03-31
23166172,10629581,4,2013-01-01,H,H01,H01L,H01L21/0257,inventional,2020-04-21
23166173,9671378,2,2013-01-01,G,G01,G01N,G01N21/7703,inventional,2017-06-06
23166174,9974660,4,2013-01-01,A,A61,A61F,A61F2002/305,additional,2018-05-22

In [ ]:
CPC[CPC['cpc_group'].notna()]

,patent_id,cpc_sequence,cpc_version_indicator,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type,cpc_action_date
5699886,11730167,33,NaN,NaN,NaN,NaN,NaN,additional,NaN
5699887,11730167,34,NaN,NaN,NaN,NaN,NaN,additional,NaN
5699907,11730168,17,NaN,NaN,NaN,NaN,NaN,additional,NaN
5700075,11730176,14,NaN,NaN,NaN,NaN,NaN,additional,NaN
5700076,11730176,15,NaN,NaN,NaN,NaN,NaN,additional,NaN
...,...,...,...,...,...,...,...,...,...
7809150,11729973,26,NaN,NaN,NaN,NaN,NaN,additional,NaN
7809153,11729973,27,NaN,NaN,NaN,NaN,NaN,additional,NaN
7809154,11729973,28,NaN,NaN,NaN,NaN,NaN,additional,NaN
7809156,11729973,29,NaN,NaN,NaN,NaN,NaN,additional,NaN
7810073,11730055,22,NaN,NaN,NaN,NaN,NaN,additional,NaN

In [ ]:
green_prefixes = ('Y02','Y04S')
CPC_data = CPC[CPC['cpc_group'].notna()]
green_patents = CPC_data[CPC_data['cpc_group'].str.startswith(green_prefixes)]
green_patents

,patent_id,cpc_sequence,cpc_version_indicator,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type,cpc_action_date
40,8888962,5,2013-01-01,Y,Y02,Y02E,Y02E50/14,additional,2014-11-18
83,9504797,13,2013-01-01,Y,Y02,Y02C,Y02C10/08,additional,2016-11-29
98,9281513,8,2013-01-01,Y,Y02,Y02T,Y02T10/7011,additional,2016-03-08
156,10358049,12,2013-01-01,Y,Y02,Y02T,Y02T90/34,additional,2019-07-23
210,9306200,11,2013-01-01,Y,Y02,Y02T,Y02T10/7011,additional,2016-04-05
...,...,...,...,...,...,...,...,...,...
23165961,8849614,6,2013-01-01,Y,Y04,Y04S,Y04S40/22,additional,2014-09-30
23165964,10325054,3,2015-11-01,Y,Y02,Y02P,Y02P90/265,additional,2019-06-18
23166046,8831789,7,2013-01-01,Y,Y04,Y04S,Y04S10/545,additional,2014-09-09
23166082,10813914,10,2018-01-01,Y,Y02,Y02A,Y02A50/492,additional,2020-10-27
23166151,9091480,11,2013-01-01,Y,Y02,Y02E,Y02E50/15,additional,2015-07-28

In [ ]:
green_patents_id = green_patents['patent_id'].drop_duplicates().to_frame('patent_id').reset_index(drop=True)
green_patents_id

       patent_id
0        8888962
1        9504797
2        9281513
3       10358049
4        9306200
...          ...
126802   9401443
126803   9831706
126804   9882964
126805  10325054
126806  10813914

[126807 rows x 1 columns]

In [ ]:
patents_gvkey = pd.read_csv(r'Forward_citations\patents_gvkey.csv')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [ ]:
patents_gvkey['patent_id'] = patents_gvkey['patent_id'].astype(str)
green_patents_citations = patents_gvkey.merge(green_patents_id, on = 'patent_id', how='inner')
green_patents_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
1,10000125,2018,4,10000125,14876074,2015-10-06,10000125,203215.0,2015
2,10000129,2018,3,10000129,14800095,2015-07-15,10000129,4839.0,2015
3,10000135,2018,3,10000135,15025706,2013-09-30,10000135,19113.0,2013
4,10000136,2018,2,10000136,15244640,2016-08-23,10000136,104606.0,2016
...,...,...,...,...,...,...,...,...,...
26627,9999095,2018,5,9999095,14254836,2014-04-16,9999095,104604.0,2014
26628,9999110,2018,2,9999110,14787270,2014-06-16,9999110,233038.0,2014
26629,9999750,2018,2,9999750,15286418,2016-10-05,9999750,2044.0,2016
26630,9999920,2018,3,9999920,14676864,2015-04-02,9999920,32106.0,2015
26631,9999924,2018,28,9999924,14832691,2015-08-21,9999924,185587.0,2015

# g_cpc_current 算 citations
Current CPC classifications of granted patents.

In [3]:
# 若要直接讀壓縮檔
from zipfile import ZipFile 
import zipfile 
import pandas as pd

# specifying the zip file name 
file_name = r"g_cpc_current.tsv.zip"
  
# opening the zip file in READ mode 
with ZipFile(file_name, 'r') as zip: 
    # printing all the contents of the zip file 
    zip.printdir()

archive = zipfile.ZipFile(file_name, 'r')
zipfile.ZipFile.namelist(archive)

CPC = pd.read_csv(archive.open('g_cpc_current.tsv'), sep='\t')
CPC

File Name                                             Modified             Size
g_cpc_current.tsv                              2025-03-13 22:06:12   3209532489

,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type
0,3950000,0,A,A63,A63C,A63C9/001,inventional
1,3950000,1,A,A63,A63C,A63C9/00,inventional
2,3950000,2,A,A63,A63C,A63C9/002,inventional
3,3950000,3,A,A63,A63C,A63C9/081,inventional
4,3950001,0,A,A63,A63C,A63C9/086,inventional
...,...,...,...,...,...,...,...
56755718,12149998,6,H,H04,H04W,H04W76/19,additional
56755719,12149999,0,H,H04,H04L,H04L12/18,inventional
56755720,12149999,1,H,H04,H04L,H04L12/66,inventional
56755721,12149999,2,H,H04,H04W,H04W36/14,inventional
56755722,12149999,3,H,H04,H04W,H04W36/144,inventional

In [4]:
CPC[CPC['cpc_group'].notna()]

,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type
0,3950000,0,A,A63,A63C,A63C9/001,inventional
1,3950000,1,A,A63,A63C,A63C9/00,inventional
2,3950000,2,A,A63,A63C,A63C9/002,inventional
3,3950000,3,A,A63,A63C,A63C9/081,inventional
4,3950001,0,A,A63,A63C,A63C9/086,inventional
...,...,...,...,...,...,...,...
56755718,12149998,6,H,H04,H04W,H04W76/19,additional
56755719,12149999,0,H,H04,H04L,H04L12/18,inventional
56755720,12149999,1,H,H04,H04L,H04L12/66,inventional
56755721,12149999,2,H,H04,H04W,H04W36/14,inventional
56755722,12149999,3,H,H04,H04W,H04W36/144,inventional

In [5]:
green_prefixes = ('Y02','Y04S')
CPC_data = CPC[CPC['cpc_group'].notna()]
green_patents = CPC_data[CPC_data['cpc_group'].str.startswith(green_prefixes)]
green_patents

,patent_id,cpc_sequence,cpc_section,cpc_class,cpc_subclass,cpc_group,cpc_type
67,3950020,1,Y,Y02,Y02E,Y02E30/30,additional
337,3950113,4,Y,Y02,Y02T,Y02T50/60,additional
491,3950143,12,Y,Y02,Y02E,Y02E50/10,additional
492,3950143,13,Y,Y02,Y02E,Y02E50/30,additional
532,3950152,4,Y,Y02,Y02E,Y02E30/30,additional
...,...,...,...,...,...,...,...
56752932,12149651,7,Y,Y02,Y02D,Y02D30/70,additional
56754204,12149811,15,Y,Y02,Y02P,Y02P70/50,additional
56755407,12149956,11,Y,Y02,Y02D,Y02D30/70,additional
56755476,12149966,7,Y,Y02,Y02D,Y02D30/70,additional
56755524,12149975,3,Y,Y02,Y02D,Y02D10/00,additional

In [6]:
green_patents_id = green_patents['patent_id'].drop_duplicates().to_frame('patent_id').reset_index(drop=True)
green_patents_id

        patent_id
0         3950020
1         3950113
2         3950143
3         3950152
4         3950155
...           ...
594229   12149651
594230   12149811
594231   12149956
594232   12149966
594233   12149975

[594234 rows x 1 columns]

In [7]:
patents_gvkey = pd.read_csv(r'Forward_citations\patents_gvkey.csv')
patents_gvkey

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000000,2018,13,10000000,14643719,2015-03-10,10000000,8972.0,2015
1,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
2,10000018,2018,1,10000018,15148543,2016-05-06,10000018,1690.0,2016
3,10000019,2018,2,10000019,15094422,2016-04-08,10000019,2285.0,2016
4,10000022,2018,3,10000022,13705332,2012-12-05,10000022,5608.0,2012
...,...,...,...,...,...,...,...,...,...
903565,9999971,2018,13,9999971,14831176,2015-08-20,9999971,2285.0,2015
903566,9999981,2018,9,9999981,14877999,2015-10-08,9999981,133367.0,2015
903567,9999989,2018,4,9999989,13844550,2013-03-15,9999989,10816.0,2013
903568,9999990,2018,1,9999990,15193291,2016-06-27,9999990,104888.0,2016
903569,9999993,2018,2,9999993,15688784,2017-08-28,9999993,162385.0,2017

In [8]:
patents_gvkey['patent_id'] = patents_gvkey['patent_id'].astype(str)
green_patents_id['patent_id'] = green_patents_id['patent_id'].astype(str)
green_patents_citations = patents_gvkey.merge(green_patents_id, on = 'patent_id', how='inner')
green_patents_citations

,citation_patent_id,citation_year,yearly_forward_citations,patent_id,application_id,filing_date,patnum,gvkey_numeric,filing_year
0,10000017,2018,1,10000017,14820696,2015-08-07,10000017,321421.0,2015
1,10000038,2018,2,10000038,15032109,2014-10-27,10000038,102766.0,2014
2,10000125,2018,4,10000125,14876074,2015-10-06,10000125,203215.0,2015
3,10000126,2018,1,10000126,14687415,2015-04-15,10000126,4839.0,2015
4,10000129,2018,3,10000129,14800095,2015-07-15,10000129,4839.0,2015
...,...,...,...,...,...,...,...,...,...
75868,9999351,2018,5,9999351,15201589,2016-07-04,9999351,23856.0,2016
75869,9999379,2018,18,9999379,14534054,2014-11-05,9999379,162887.0,2014
75870,9999750,2018,2,9999750,15286418,2016-10-05,9999750,2044.0,2016
75871,9999920,2018,3,9999920,14676864,2015-04-02,9999920,32106.0,2015
75872,9999924,2018,28,9999924,14832691,2015-08-21,9999924,185587.0,2015

In [9]:
green_patents_citations.to_csv(r'Forward_citations\green_patents_citations.csv', index=False)

In [9]:
import numpy as np
# 假設 patents_gvkey 已經載入
green_patents_citations["filing_year"] = green_patents_citations["filing_year"].astype(int)
green_patents_citations["citation_year"] = green_patents_citations["citation_year"].astype(int)

# 確定 citation_year(被引用年分) 是否在 filing_year 後五年內 True/False
# 即該patent五年內有被引用過
green_patents_citations["within_5_years"] = (
    (green_patents_citations["citation_year"] >= green_patents_citations["filing_year"] + 1) & 
    (green_patents_citations["citation_year"] <= green_patents_citations["filing_year"] + 5)
)

# 計算 total_5yr_forward_citations (針對citation_year在filing_year後五年內的專利)
total_citations = (
    green_patents_citations[green_patents_citations["within_5_years"]] # 某個gvkey在某一filing_year中有幾個patent後五年有citations
    .groupby(["gvkey_numeric", "filing_year"])["yearly_forward_citations"]
    .sum()
    .reset_index()
)

# 找出每個gvkey在各個filing_year申請的所有專利中，有幾個patent在申請後五年有被其他專利引用
# within_5_years:某個gvkey在某一filing_year中有申請patent，其中有幾個patent在申請後五年有被其他專利引用
# True(該patent五年內有被引用過) 被視為 1，False 被視為 0
no_citations = (
    green_patents_citations.groupby(["gvkey_numeric", "filing_year"])["within_5_years"]
    .sum()
    .reset_index()
)

# 合併，確保 total_5yr_forward_citations 設為 0
final_result = pd.merge(total_citations, no_citations, on=["gvkey_numeric", "filing_year"], how="right")
# 合併後若yearly_forward_citations為空值，表示某公司該年所申請的所有專利在五年內沒有被引用過，所以設0
final_result["yearly_forward_citations"].fillna(0, inplace=True)

# 重新命名欄位
final_result.rename(columns={"yearly_forward_citations": "total_5yr_forward_citations"}, inplace=True)

# 確保 filing_year 2000-2019 全部存在
# 找出 2000-2019 至少有申請過專利的 gvkey
valid_gvkeys = green_patents_citations[(green_patents_citations["filing_year"] >= 2000) & (green_patents_citations["filing_year"] <= 2019)]["gvkey_numeric"].unique()

# 生成 2000-2019 的 filing_year
year_range = np.arange(2000, 2020)

# 建立所有 (gvkey_numeric, filing_year) 組合
all_combinations = pd.MultiIndex.from_product([valid_gvkeys, year_range], names=["gvkey_numeric", "filing_year"]).to_frame(index=False)

# 將原本的資料與補全的資料合併
final_result = pd.merge(all_combinations, final_result, on=["gvkey_numeric", "filing_year"], how="left")

# 缺失的 total_5yr_forward_citations 設為 0
final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

# 輸出結果
final_result

C:\Users\Lillian\AppData\Local\Temp\ipykernel_40476\4075632639.py:33: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["yearly_forward_citations"].fillna(0, inplace=True)
C:\Users\Lillian\AppData\Local\Temp\ipykernel_40476\4075632639.py:52: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  final_result["total_5yr_forward_citations"].fillna(0, inplace=True)

       gvkey_numeric  filing_year  total_5yr_forward_citations  within_5_years
0           321421.0         2000                          0.0             NaN
1           321421.0         2001                          0.0             NaN
2           321421.0         2002                          0.0             NaN
3           321421.0         2003                          0.0             NaN
4           321421.0         2004                          0.0             NaN
...              ...          ...                          ...             ...
74455       288843.0         2015                          0.0             NaN
74456       288843.0         2016                          1.0             1.0
74457       288843.0         2017                          0.0             NaN
74458       288843.0         2018                          0.0             NaN
74459       288843.0         2019                          0.0             NaN

[74460 rows x 4 columns]

In [10]:
final_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74460 entries, 0 to 74459
Data columns (total 4 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gvkey_numeric                74460 non-null  float64
 1   filing_year                  74460 non-null  int32
 2   total_5yr_forward_citations  74460 non-null  float64
 3   within_5_years               13378 non-null  float64
dtypes: float64(3), int32(1)
memory usage: 2.0 MB

In [11]:
final_result.to_csv(r'Forward_citations\total_5yr_forward_citations_v2_green_current.csv', index=False)